<div class="client-container">
    <h2 style="margin-bottom: 2%;">Client details</h2>
    <mat-form-field class="input-field">
        <input matInput placeholder="jmbg" [(ngModel)]="client.jmbg" name="jmbg" readonly>
    </mat-form-field>
    <mat-form-field class="input-field">
        <input matInput placeholder="First name" [(ngModel)]="client.firstName" name="firstName" readonly>
    </mat-form-field>
    <mat-form-field class="input-field">
        <input matInput placeholder="Last name" [(ngModel)]="client.lastName" name="lastName" readonly>
    </mat-form-field>
    <mat-form-field class="input-field">
        <input matInput type="E-mail" placeholder="Email" [(ngModel)]="client.email" name="email" readonly>
    </mat-form-field>
    <mat-form-field class="input-field">
        <input matInput placeholder="Phone number" [(ngModel)]="client.phoneNumber" name="phoneNumber" readonly>
    </mat-form-field>
</div>